// Font Families
$font-family-base: "M PLUS Rounded 1c", sans-serif;
$font-family-secondary: "Poppins", sans-serif;

$primary-color: #ff8b11;
$secondary-color: #94b602;
$secondary-color-2: #96CA4E;
$secondary-color-3: #96CB4D;
$tertiary-color: #ffffff;
$tertiary-color-2: #F6EDE6;

$primary-link-bg-color: #f9ffe2;
$secondary-link-bg-color: #ffc400;

$hamaguchi-black: #000000;
$hamaguchi-blue: #4ECAC0;
$hamaguchi-gold: #FFC403;

// Font Weight
$fontweight-light: 300;
$fontweight-regular: 400;
$fontweight-medium: 500;
$fontweight-bold: 700;
$fontweight-extrabold: 900;

// Text
$link_line-height-base: 16px;
