// Font Families
$font-family-base: "M PLUS Rounded 1c", sans-serif;
$font-family-secondary: "Poppins", sans-serif;

$primary-color: #ff8b11;
$secondary-color: #94b602;
$tertiary-color: #ffffff;

$primary-link-bg-color: #f9ffe2;
$secondary-link-bg-color: #ffc400;

// Font Weight
$fontweight-light: 300;
$fontweight-regular: 400;
$fontweight-medium: 500;
$fontweight-bold: 700;
$fontweight-extrabold: 900;

// Text
$link_line-height-base: 16px;
