// Global styles
html {
  font-size: 16px;
}

body {
  font-family: $font-family-base, sans-serif;
  color: $primary-color;
  line-height: normal;
  background: repeating-linear-gradient(to right, #ff8b11, #ff8b11 20px, #ff972a 20px 40px);
  margin: 0;
}

header {
  background-color: white;
}

a {
  color: $primary-color;
  text-decoration: none;
  font-weight: $fontweight-extrabold;
}

strong {
  font-weight: var(--bs-font-weight-extrabold);
}

h1,
h2 {
  font-weight: $fontweight-extrabold;
}
