.overlapping-2col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  .section-title-desc {
    margin: 6.25rem 0 3.125rem;
    color: #FFF;
    text-align: center;

    h1 {
      margin: 0;
      font-size: 2.5rem;
    }
  }

  .block {
    max-width: 90rem;
    width: 100%;
    height: 30.75rem;
    display: flex;
    justify-content: center;
    padding: 3.125rem 0;

    .block-left {
      position: relative;
      flex-grow: 1;

      >img {
        z-index: 20;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 43.75rem;
        height: auto;
        border-radius: .625rem;
      }
    }

    .block-right {
      background-color: white;
      flex-grow: 2;
      justify-content: center;
      align-items: center;
      max-width: 57.1875rem;
      display: flex;
      position: relative;
      border-radius: .625rem;

      h2 {
        padding-left: 12.5rem;
        padding-right: 4.375rem;
        font-size: 2.5rem;
      }

      p {
        color: black;
        font-size: 1.25rem;
      }
    }
  }

  .block.reverse {
    .block-right {
      h2 {
        padding-right: 12.5rem;
        padding-left: 4.375rem;
      }

      a {
        padding: 1.25rem;
        align-self: center;
        border: .25rem solid $secondary-color;
        border-radius: 2.1875rem;
        color: $secondary-color;
        background-color: $primary-link-bg-color;
        text-align: center;
        font-size: 1.25rem;
      }
    }

    .block-left {
      >img {
        right: 0;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .overlapping-2col {
    .block {
      flex-direction: column;
      align-items: center;
      height: 100%;

      .block-left {
        position: relative;
        flex-grow: 1;

        >img {
          max-width: 25rem;
          height: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          transform: translate(-50%, -25%);
        }
      }

      .block-right {
        h2 {
          padding: 12.5rem 3.125rem;
        }
      }

    }

    .block.reverse {
      flex-direction: column-reverse;

      .block-left>img {
        right: unset;
      }

      .block-right {
        h2 {
          padding: 12.5rem 3.125rem;
        }
      }
    }
  }
}

@media screen and (max-width: 48rem) {
  .overlapping-2col {
    padding: 0 1.25rem;
    
    .section-title-desc {
      h1 {
        font-size: 1.75rem;
      }
    }

    .block {
      margin-top: 3.125rem;
      margin-bottom: 3.125rem;

      .block-left {
        width: 100%;

        > img {
          left: 50%;
          width: 100%;
          top: -6.25rem;
          transform: translate(-50%, 0);
        }
      }

      .block-right > h2 {
        padding: 6.25rem 1.25rem;
      }
    }

    .block.reverse {
      .block-right > h2 {
        padding: 10rem 1.25rem;
      }
    }
  }

}



.overlapping-2col {
  .block {
    position: relative;
  }
  .block-right {
    position: relative;
    z-index: 3;
  }
}

.ball {
  position: absolute;
  width: 15.125rem;
  z-index: 2;
  display: none;
  @media screen and (min-width: 1440px) {
    display: block;
  }
}
.ball--orange {
  // right: -80px;
  right: 0;
  top: -2.25rem;
  transform: translateX(6.25rem);
}

.ball--blue {
  width: 10.5rem;
  top: -1.5rem;
  left: -2.875rem;
}

.ball--green {
  width: 9.875rem;
  // right: -80px;
  right: 0;
  top: -0.75rem;
  transform: translateX(60px);
}